/* https://color.adobe.com/es/violeta%20oscuro%206-color-theme-9242315 */
:root {
    /* Declaración de variables para colores */
    --color1:#24023F;
    --color2:#7308CB;
    --color3:#48057F;
    --color4:#4F068C;
    --color5:#390465;
    --color6:#080325;
    --color7: #d92b4c;
    --color8: #fd4d6d;
    --color-negro:#000000;
    --color-blanco:#ffffff;
    --gris-claro:#999999;
    --gris-oscuro:#454545;
}

#contactos-cabecera {
    background-color: var(--color4);
}

#contactos-cabecera h1 {
    font-size: 25px; /* tamaño del h1 */
    font-weight: 400; /* grosor de la fuente */
}

#formulario {
    padding: 50px 0px;
}

#contactos-formulario {
    margin-left: auto;
    max-width: 45%;
    flex-basis: 45%;
}

#contactos-formulario h3 {
    color: var(--color-blanco);
    margin-bottom: 20px;
    font-weight: 700;
}

#contactos-formulario p {
    text-align: left;
    color: var(--color-blanco);
}

#contactos-formulario .enlace-boton {
    margin-top: 15px;
}

#contactos-formulario a {
    color: var(--gris-claro);
    transition: all 0.7s ease-in-out;
}

#contactos-formulario a:hover {
    color: var(--color8);
}

#contactos-informacion {
    margin-right: auto;
    margin-top: 38px;
    max-width: 35%;
    flex-basis: 35%;
}

#contactos-informacion ul {
    list-style-type: none; /* quita la viñeta */
}

#contactos-informacion li {
    padding-bottom: 20px;
}

#contactos-informacion a {
    color: var(--color-blanco);
    transition: all 0.7s ease-in-out;
}

#contactos-informacion a:hover {
    color: var(--color8);
}

#contactos-mapa {
    width: 100%;
    padding-top: 35%;
    position: relative;
}

#contactos-mapa iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

#contactos-redes {
    text-align: center;
    margin: 40px 0px;
}

#contactos-redes a {
    color: var(--color-blanco);
    transition: all 0.7s ease-in-out;
    font-size: 20px;
}

#contactos-redes a:hover {
    color: var(--color8);
}

#contactos-redes i {
    font-size: 35px;
}

.entrada-campo {
    margin-bottom: 15px;
    border: solid 1px var(--color8);
    display: inline-block;
    width: 270px;
    margin-right: 15px;
}

.entrada-campo input {
    color: var(--color-blanco);
}

.form-campo {
    width: 270px;
    padding: 15px;
    box-sizing: border-box; /* para que el contenido no salga de su caja */
    background-color: transparent;
    border: none;
    outline: none; /* Elimina el borde del campo cuando aparece seleccionado */
    font: inherit; /* Hereda las propiedades de fuente del contenedor padre */
}

.form-campo::placeholder, select {
    color: var(--gris-claro);
}