/* Hoja de estilos externa */

/* Fuente externa de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    /* establecer el comportamiento del scroll para que el desplazamiento se realice suavemente */
    scroll-behavior: smooth;
}

/* https://color.adobe.com/es/violeta%20oscuro%206-color-theme-9242315 */
:root {
    /* Declaración de variables para colores */
    --color1:#24023F;
    --color2:#7308CB;
    --color3:#48057f;
    --color4:#4F068C;
    --color5:#390465;
    --color6:#080325;
    --color7: #d92b4c;
    --color8: #fd4d6d;
    --color-negro:#000000;
    --color-blanco:#ffffff;
    --gris-claro:#999999;
    --gris-oscuro:#454545;
}

/* Eliminar los margenes y espaciados internos predeterminados en la página */
* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-blanco); /* color del texto */
    font-family: "Lato", sans-serif; /* Aplicando la fuente enlazada */
    background-color: var(--color1); /* color del fondo de la página */
}

h2 {
    font-weight: 400; /* grosor de la fuente */
}

h3 {
    font-weight: 700; /* grosor de la fuente */
}

h4 {
    font-weight: 400; /* grosor de la fuente */
}

img {
    display: block; /* Elimina el espacio en blanco inferior que dejan las imagenes */
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

#menu-superior {
    background-color: var(--color1); /* color de fondo */
    padding-top: 10px; /* separacion arriba */
    padding-bottom: 10px; /* separacion abajo */
}

#menu-superior .fila {
    justify-content: space-between; /* separa los elementos a la derecha e izquierda */
}

#menu-superior .menu-barra a {
    font-size: 0.8em; /* tamaño del a */
    font-weight: 300;
}

#menu-superior a {
    padding: 10px 10px;
    color: rgba(255, 255, 255, 0.7); /* color del a */
    transition: all 0.7s ease-in-out; /* transicion */
}

#menu-superior a:hover {
    color: var(--color-blanco); /* color del a */
}

#menu-superior i {
    font-size: 20px;
    margin-right: 10px; /* margen derecho */
}

#menu-superior .menu-barra:first-child a {
    margin-top: 3px; /* margen arriba */
}

#menu-superior .menu-barra:nth-child(2) i {
    margin-right: 4px;
}

#menu-superior .menu-barra:last-child {
    background-color: var(--color7); /* color de fondo */
    border-radius: 3px; /* curvatura */
    margin-right: 10px; /* margen derecho */
    transition: all 0.7s ease-in-out; /* transicion */
}

#menu-superior .menu-barra:last-child:hover {
    background-color: rgba(217, 43, 75, 0.9); /* color de fondo */
}

#menu-superior .menu-barra:last-child a {
    color: var(--color-blanco); /* color del a */
}

#cabecera {
    background-color: var(--color6); /* color del área */
    position: sticky;
    top: 0px;
    z-index: 100;
}

#cabecera .logo {
    width: 90px; /* ancho del logo */
}

#cabecera h1 {
    font-size: 30px; /* tamaño del h1 */
    font-weight: 400; /* grosor de la fuente */
    margin-left: 10px; /* margen izquierda */
    color: var(--color-blanco);
}

#cabecera #cabecera-menu a {
    padding: 30px 15px;
    color: var(--color-blanco); /* color del a */
    border-bottom: solid 3px transparent; /* borde abajo */
    transition: all 0.7s ease-in-out; /* transicion */
}

#cabecera #cabecera-menu a:hover {
    color: var(--gris-claro); /* color del a al pasar el puntero */
    border-bottom: solid 3px var(--gris-claro); /* borde abajo */
}

#cabecera .fila {
    justify-content: space-between;
}

#plataformas {
    background-color: var(--color4); /* color del área */
    /* margen en ambos lados del área */
    margin-left: auto;
    margin-right: auto;
}

#plataformas i {
    font-size: 30px; /* tamaño de los iconos */
}

#plataformas h2 {
    padding-left: 10px; /* separación a la izquierda del h2 */
}

#plataformas h3 {
    padding-top: 10px; /* separación arriba del h3 */
    padding-bottom: 20px;
}

#plataformas .col2 {
    text-align: center; /* centra el texto de las columnas */
}

#plataformas .col2 i {
    font-size: 100px; /* tamaño de los iconos de las columnas */
}

#plataformas .col2:first-child i {
    font-size: 110px; /* tamaño de los iconos de las columnas */
    margin-top: -8px;
    margin-bottom: -5px;
}

#categorias {
    background-image: url(../images/baner1.jpg); /* imagen del área */
    background-size: cover; /* presenta el mayor contenido de la imagen */
    background-position: center; /* centra la imagen del área */
    text-shadow: 1px  0px 0px var(--color-negro), /* sombra del texto */
                 0px  1px 0px var(--color-negro),
                 -1px  0px 0px var(--color-negro),
                 0px -1px 0px var(--color-negro);
}

#categorias .contenedor {
    position: relative;
}

#categorias .contenedor2 h2 {
    font-size: 35px; /* tamaño del h2 */
    text-align: center;
}

#categorias .contenedor2 h3 {
    padding-top: 12px; /* separación arriba del h3 */
    text-align: center;
}

#categorias-mas {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: var(--color1);
    border-radius: 4px; /* curvatura del borde */
    padding: 5px; /* separacion general */
    cursor: pointer; /* estilo del cursor */
    transition: all 0.7s ease-in-out; /* transicion */
}

#categorias-mas:hover {
    background-color: var(--color2); /* color de fondo */
}

#categorias .categorias-img {
    box-shadow: 11px 11px 5px 0px rgba(36, 2, 63, 0.65); /* sombra del div*/
    border-radius: 5px; /* curvatura del div */
    border: solid 1px var(--gris-claro); /* borde del div */
    overflow: hidden;
}

#categorias img {
    transition: all 0.7s ease-in-out;
}

#categorias img:hover {
    transform: scale(1.1); /* agranda la img al pasar el puntero */
    filter: grayscale(50%);
}

#lanzamientos {
    background-color: var(--color3); /* color del área */
}

#lanzamientos .contenedor {
    position: relative;
}

#lanzamientos-ofertas {
    position: absolute;
    background-color: var(--color1);
    width: 60%;
    height: 39%;
    /* coordenadas */
    bottom: -252px;
    left: 19.8%;
    padding-top: 15px;
}

#lanzamientos-ofertas .fila {
    padding-top: 18px;
    padding-bottom: 18px;
}

#lanzamientos-ofertas ul {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

#lanzamientos-ofertas ul li {
    margin-bottom: 8px;
}

#lanzamientos-ofertas .enlace-boton {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#lanzamientos img {
    margin-left: -2px;
    transform: scale(1.05);
}

#lanzamientos i {
    font-size: 30px; /* tamaño de los iconos */
}

#lanzamientos h2 {
    padding-left: 10px; /* separación a la izquierda del h2 */
}

#lanzamientos h3 {
    text-align: center; /* centra el h3 */
    color: var(--color8);
}

#lanzamientos h4 {
    margin-bottom: 5px; /* separación abajo del h4 */
}

#lanzamientos p {
    text-align: center; /* centra el texto */
    margin-top: 15px; /* separación arriba del párrafo */
    margin-bottom: 15px; /* separación abajo del párrafo */
}

#lanzamientos-fecha {
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* curvatura del borde */
    border: solid 2px var(--color2); /* borde de la imagen */
}

#lanzamientos h4 {
    padding-top: 65px; /* separacion arriba */
    text-align: center; /* centra el h4 */
    font-weight: 300;
}

#lanzamientos-descripcion {
    position: absolute;
    background-color: rgba(8, 3, 37, 0.7); /* color de fondo */
    width: 100%; /* ancho */
    height: 120%; /* alto */
    top: 0;
    transform: translatey(-25px); /* coloca el elemento arriba */
    opacity: 0%;
    transition: all 0.7s ease-in-out;
}

#lanzamientos-descripcion:hover {
    opacity: 100%;
    transform: translatey(0px); /* coloca el elemento en su posicion inicial */
}

#popular {
    background-color: var(--color6); /* color del área */
    padding-top: 140px;
}

#popular h2 {
    text-align: center; /* centra el h2 */
}

#popular h3 {
    text-align: center; /* centra el h3 */
    padding-bottom: 10px; /* separación abajo del h3 */
    color: var(--color8);
}

#popular p {
    text-align: center; /* centra el texto */
    margin-top: 15px; /* separación arriba del párrafo*/
    margin-bottom: 15px; /* margen abajo */
}

#popular .popular-img {
    border: solid 1px var(--color2); /* borde de la imagen */
    border-radius: 5px; /* curvatura de la imagen */
    overflow: hidden;
}

#popular img {
    transition: all 0.7s ease-in-out; /* transicion */
}

#popular img:hover {
    transform: scale(1.1); /* agranda la imagen */
    filter: grayscale(50%);
}

#historia {
    background-image: url(../images/baner2.jpg); /* imagen del área */
    background-size: cover; /* presenta el mayor contenido de la imagen */
    background-position: center; /* centra la imagen del área */
    text-shadow: 1px  0px 0px var(--color-negro), /* sombra del texto */
                 0px  1px 0px var(--color-negro),
                 -1px  0px 0px var(--color-negro),
                 0px -1px 0px var(--color-negro);
}

#pie {
    background-color: var(--color6); /* color del área */
}

#pie .contenedor3 ul {
    list-style-type: none; /* quita la viñeta */
}

#pie .fila {
    width: 900px;
    margin-bottom: 20px; /* margen abajo */
    margin-left: auto; /* margen izquierda */
    margin-right: auto; /* margen izquierda */
}

#pie .contenedor3 h2 {
    font-size: 20px;
    color: var(--color8); /* color del h2 */
    margin-bottom: 20px; /* margen abajo */
}

#pie .contenedor6 i {
    font-size: 25px;
    margin-top: -2px;
}

#pie .contenedor3 p {
    margin-top: -2px;
    font-size: 18px;
    color: var(--gris-claro); /* color del p */
}

#pie .contenedor6 a {
    font-size: 18px;
    color: var(--gris-claro); /* color del a */
    width: fit-content;
    transition: all 0.7s ease-in-out; /* transicion */
}

#pie .contenedor6 a:hover {
    color: var(--color-blanco); /* color del a al pasar el puntero */
}

#pie .contenedor3 li {
    padding-bottom: 20px; /* separacion abajo */
}

#pie .contenedor6:nth-child(2) li {
    padding-bottom: 23px; /* separacion abajo */
}

#pie-copy {
    padding-top: 20px; /* separacion arriba */
    border-top: solid 3px var(--color7); /* borde arriba */
    font-weight: 300;
    text-align: center;
}

#scroll-arriba {
    background-color: var(--color7);
    color: var(--color-blanco);
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    border: solid 2px var(--color-blanco);
    text-align: center;
    border-radius: 50%;

    /* Posicionamiento y coordenadas */
    position: fixed;
    bottom: 30px;
    right: 30px;

    transition: all 0.5s ease-in-out;

    /* Ocultar el botón al cargar la página */
    opacity: 0;
}

#scroll-arriba:hover {
    background-color: var(--color-blanco);
    color: var(--color7);
    box-shadow: -3px 8px 25px 0px rgba(217, 43, 75, 0.3);
    transform: translateY(-3px);
}

.fila {
    /* Coloca los objetos que contiene directamente uno al lado del otro en dirección de fila */
    display: flex;
}

.contenedor {
    max-width: 1300px; /* ancho máximo del contenedor */
    /* margen en ambos lados del contenedor */
    margin-left: auto;
    margin-right: auto;
}

.contenedor2 {
    max-width: 800px; /* ancho máximo del contenedor */
    /* margen en ambos lados del contenedor */
    margin-left: auto;
    margin-right: auto;
}

.contenedor3 {
    max-width: 1200px; /* ancho máximo del contenedor */
    /* margen en ambos lados del contenedor */
    margin-left: auto;
    margin-right: auto;
}

.contenedor4 {
    max-width: 1400px; /* ancho máximo del contenedor */
    /* margen en ambos lados del contenedor */
    margin-left: auto;
    margin-right: auto;
}

.contenedor5 {
    max-width: 250px; /* ancho máximo del contenedor */
}

.contenedor6 {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.espaciado {
    padding-top: 20px; /* separación arriba */
    padding-bottom: 20px; /* separación abajo */
}

.espaciado2 {
    padding-top: 20px; /* separación arriba */
    padding-bottom: 140px; /* separación abajo */
}

.img-ajustar {
    /* Se utiliza para ajustar el ancho de la imagen
    al ancho de su caja contenedora */
    width: 100%;
    height: auto;
}

.alinear-vertical {
    /* Alinea verticalmente el contenido de una caja padre */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.letra1 {
    padding-bottom: 32px; /* separación abajo */
}

.letra2 {
    padding-bottom: 10px; /* separación abajo */
}

.col {
    max-width: 355px; /* ancho máximo de la columna */
    display: inline-block; /* Coloca los objetos que contiene directamente uno al lado del otro en dirección de fila */
    /* separación arriba de las columnas */
    padding-top: 15px;
    /* Separación en ambos lados de las columnas */
    padding-left: 20px;
    padding-right: 20px;
}

.col2 {
    /* separación arriba de las columnas */
    padding-top: 20px;
    /* Separación en ambos lados de las columnas */
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(36, 2, 63, 0.4); /* color de la columna */
    /* margen arriba de las columnas */
    margin-top: 20px;
    /* margen en ambos lados de las columnas */
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px; /* curvatura de la columna */
}

.col3 {
    max-width: 80px; /* ancho máximo de la columna */
    text-align: center; /* centra el texto */
    padding: 10px; /* separación arriba de las columnas */
}

/* Ajustar el ancho de una columna al 25% del contenedor */
.columna-25 {
    flex-basis: 25%;
    max-width: 25%;
}

/* Ajustar el ancho de una columna al 33.33% del contenedor */
.columna-33 {
    flex-basis: 33.33%;
    max-width: 33.33%;
}

/* Ajustar el ancho de una columna al 66.66% del contenedor */
.columna-66 {
    flex-basis: 66.66%;
    max-width: 66.66%;
}

/* Ajustar el ancho de una columna al 50.00% del contenedor */
.columna-50 {
    flex-basis: 50.00%;
    max-width: 50.00%;
}

/* Clases generales para crear una barra de menu */
.menu-barra {
    list-style-type: none; /* quita la viñeta */
    margin: 0px; /* Elimina el margin predeterminado */
    padding: 0px; /* Elimina el padding predeterminado */
    display: flex; /* activa flebox para que los items esten uno al costado de otro */
}

.menu-barra a {
    display: block; /* Trata a cada elemento como si fuese una caja */
    text-decoration: none; /* Para quitar el subrayado de los enlaces */
}

.enlace-boton {
    background-color: var(--color7);
    color: var(--color-blanco);
    padding: 10px 20px; /* 10px para top/bottom, 20px para left/right */
    width: fit-content; /* se ajusta al contenido */
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: all 0.7s ease-in-out; /* transición cuando se cambia el color, a que contenidos cambian/tiempo/inicio,final, los dos, etc */
}

/* cambia el color al pasar el mouse */
.enlace-boton:hover {
    background-color: var(--color8);
}

.columna {
    display: flex;
    flex-direction: column;
}

/* Tablet */
@media screen and (max-width:850px) {
    .contenedor {
        max-width: 95%;
    }

    .contenedor3 {
        max-width: 90%;
    }

    #cabecera .fila {
        flex-direction: column;
        align-items: center;
    }

    #cabecera .logo img {
        width: 90%;
        margin: auto;
    }

    #cabecera .fila .fila {
        margin-top: 15px;
    }

    #cabecera h1 {
        margin-top: 5px;
        font-size: 25px;
    }

    #plataformas .fila:nth-child(1) {
        justify-content: center;
    }

    #categorias h2 {
        margin-top: -10px;
        margin-bottom: 5px;
    }

    #categorias-mas {
        top: 10px;
    }

    #lanzamientos .columna-25 {
        max-width: 36%;
        flex-basis: 36%;
    }

    #lanzamientos .fila {
        flex-wrap: wrap;
        justify-content: center;
    }

    #lanzamientos-ofertas {
        width: 85%;
        height: 20%;
        left: 7.5%;
    }

    #historia h2 {
        text-align: center;
    }

    #pie .contenedor6 {
        max-width: 45%;
        flex-basis: 45%;
    }

    #pie .fila {
        flex-wrap: wrap;
        width: 100%;
        margin-left: 143px;
        max-width: fit-content;
    }

    #proximamente #proximamente-letra {
        margin: 10px 0px;
        text-align: center;
        font-size: 25px;
        text-shadow: 1px  0px 0px var(--color-blanco), /* sombra del texto */
        0px  1px 0px var(--color-blanco),
        -1px  0px 0px var(--color-blanco),
        0px -1px 0px var(--color-blanco);
    }

    #proximamente-trailer iframe:first-child {
        width: 720px;
        height: 405px;
        margin: auto;
    }

    #proximamente-trailer iframe:last-child {
        display: none;
    }

    #proximamente #proximamente-futuro {
        top: 485px;
        right: 558px;
        display: flex;
        flex-direction: row;
    }

    #proximamente #proximamente-futuro .futuro {
        background-color: rgba(80, 6, 140);
        margin: 20px;
    }

    #proximamente #proximamente-futuro .futuro:hover {
        background-color: var(--color2);
    }

    #proximamente #proximamente-futuro .futuro img {
        width: 200px;
        height: auto;
    }

    #formulario #contactos-informacion {
        max-width: 40%;
        flex-basis: 40%;
        margin-left: 15px;
    }

    #formulario #contactos-formulario {
        margin-right: 15px;
    }
} /* Fin de Responsive Web para Tablet */

/* Celular */
@media screen and (max-width:650px) {
    body {
        font-size: 0.9em;
    }

    .contenedor {
        width: 100%;
    }

    #cabecera .menu-barra {
        flex-direction: column;
        align-items: center;
    }

    #cabecera #cabecera-menu {
        width: 100%;
    }

    #cabecera h1 {
        margin-bottom: 5px;
    }

    #cabecera #cabecera-menu li {
        width: 90%;
        text-align: center;
    }

    /* Oculta la primera opcion de la barra de menú */
    #cabecera #cabecera-menu li:first-child {
        display: none;
    }

    #cabecera #cabecera-menu li:last-child {
        margin-bottom: 15px;
    }

    #cabecera #cabecera-menu a {
        padding: 8px 0px;
        border-bottom: solid 1px var(--color7);
        transition: all 0.3s ease-in-out;
        font-size: 18px;
    }

    #cabecera #cabecera-menu a:hover {
        background-color: var(--color8);
        color: var(--color-blanco);
        border-bottom: none;
    }

    #plataformas .fila {
        flex-wrap: wrap;
    }

    #plataformas .col2 {
        max-width: 100%;
        flex-basis: 100%;
    }

    #categorias .col {
        max-width: 100%;
        flex-basis: 100%;
    }

    #lanzamientos .col2 {
        max-width: 100%;
        flex-basis: 100%;
    }

    #lanzamientos-ofertas {
        height: 6.8%;
    }

    #popular .fila {
        flex-wrap: wrap;
    }

    #popular .col2 {
        max-width: 100%;
        flex-basis: 100%;
    }

    #pie .contenedor6 {
        max-width: 100%;
        flex-basis: 100%;
    }

    #pie .contenedor6:first-child {
        margin-bottom: 15px;
    }

    #pie .fila {
        flex-wrap: wrap;
        margin: auto;
    }

    #proximamente-trailer iframe:first-child {
        width: 480px;
        height: 270px;
        margin: auto;
    }

    #proximamente #proximamente-futuro {
        top: 320px;
        right: 182px;
        display: flex;
        flex-direction: column;
    }

    #proximamente #proximamente-futuro .futuro {
        padding: 20px 40px;
        margin: 8px;
    }

    #proximamente #proximamente-futuro .futuro img {
        width: 220px;
        height: auto;
        margin-left: -32px;
    }

    #proximamente #proximamente-futuro .futuro:last-child {
        display: none;
    }

    #formulario .fila {
        flex-wrap: wrap;
    }

    #formulario #contactos-formulario {
        max-width: 100%;
        flex-basis: 100%;
        margin-left: 25px;
    }

    #formulario #contactos-informacion{
        max-width: 100%;
        flex-basis: 100%;
        margin-left: 7.5px;
    }

    #contactos-redes .fila {
        flex-wrap: wrap;
    }

    #contactos-redes .columna-25 {
        max-width: 40%;
        flex-basis: 40%;
        margin: 20px;
    }

    #contactos-redes .columna-25:last-child {
        margin-left: 25px;
    }
} /* Fin de Responsive Web para Celular */